body {
	overflow-x: hidden; /*--right gutter fix--*/
	/* font-family: 'Amatic SC', cursive; */
	color: #505962;
}
.navbar {
  text-transform: uppercase;
  background: rgba(0, 0, 0, .0)!important;
  font-family: 'Amatic SC', cursive;
}
.fixed-top.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}



.navbar-brand img {
  height: 3rem;
}
.nav-link {
	text-shadow: .1rem .1rem .8rem black;
	font-size: 1.8rem;
}
.parallax-image {
  background-image: url("img/scootero.jpg");
  height: 50rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-position-y: 60%;
}
h1 {
  font-size: 6rem;
  color: white;
  margin-bottom: 0;
  font-family: 'Amatic SC', cursive;
}
.first {
  font-size: 2rem;
  color: white;
  font-family: 'Amatic SC', cursive;
}
.headingbtn {
  margin-top: 1rem;
  margin-right: 1rem;
  max-width: 100%;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
}
/* .padding {
  padding-bottom: 2rem;
} */
.one {
  background-color: #bdf5e1;
}
.two {
  background-color: #d3f8eb;
}
.three {
  background-color: #e9fcf5;
}
.fa-phone {
  color: #e54d26;
}

.fa-bus {
  color: #563d7c;
}

.fa-check {
  color: #2163af;
}

.fa-phone, .fa-bus, .fa-check {
  font-size: 4em;
  margin: 1rem;
	margin-top: 2rem;
}

.padding2 {
  padding-top: 5rem;
}

h2 {
  margin-bottom: 2rem;
}
.heading {
  text-align: center;
  padding-bottom: 3rem;
}
.card {
  border: none;
}
.card-img-top {
  box-shadow: 0 15px 15px rgba(0,0,0,.3);
	opacity: 1;
}
.card-img-top:hover {
	/* opacity: 0.7; */
	/* transform: scale(1.1); */
	transition: 300ms;
}

.boom {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0)!important;
  color: white;
  font-size: 16px;
  padding: .6rem 1.5rem;
  border: none;
  cursor: pointer;
	/* opacity: 0; */
  /* border-radius: 5px; */
}


.imgeffects {
  padding: 4.6rem 0;
  margin: 0 auto;
  width: 100%;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover {
    flex: 4;
		cursor: pointer;
  }

.item-1 {
  background-image: url('img/city1o.jpg');
}

.item-2 {
  background-image: url('img/natureo.jpg');
}

.item-3 {
  background-image: url('img/chillo.jpg');
}

.item-4 {
  background-image: url('img/cultureo.jpg');
}

.item-5 {
  background-image: url('img/businesso.jpg');
}

.item {
  position: relative;
  text-align: center;
}

.desc {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
}
.footerbarcolor {
	background-color: #21d192;
}
.end {
	background-color: black;
}
.page-footer {
	background-color: black;
	color: white;
}
.dark-grey-text {
	color: white !important;
	text-decoration: none;
}
.btn {
	background-color: #21d192;
	border-color: #21d192;
}
.btn-lg {
	margin-top: 2rem;
}
.teal {
	background-color: teal;
	width: 3.5rem;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 1.5rem;
}
.box {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	border-radius: 10px;
	background: #000;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	transition: .5s;
	margin-bottom: 3rem;
}
.box:hover {
	transform: translateY(-1rem);
	cursor: pointer;
	/* box-shadow: 0 50px 50px rgba(0,0,0,.5); */
}
/* .box .imgBox {
	position: relative;
} */
.box .imgBox img {
  transition: .5s;
}
.box:hover .imgBox img {
	opacity: .5;
	/* transform: translateY(-40px); */
}


.box .content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	width: max-content;
	height: max-content;
	box-sizing: border-box;
	transition: .5s;
	opacity: 0;
}

.box:hover .content {
	opacity: 1;
}
.box .content h5 {
	font-size: 2rem;
	color: #fff;
	font-weight: 300;
	text-align: center;
}
.box .content p {
	text-align: center;
	font-size: 1rem;
	color: #fff;
	font-weight: 700;
}

.aboutpic {
	position: relative;
	bottom: -5rem;
	margin-bottom: 8rem;
}



@media (max-width:767px) {
  .navbar-nav {
    background: #21d192;
  }
	.navbar-dark .navbar-nav .nav-link {
		color: black;
	}
}
